/*Schrijf hier jouw CSS*/
/*Schrijf hier jouw CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /*!*opdracht 1*/
}
.opdracht-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/*!*opdracht 2**/

.opdracht-2 ul{
    display: flex;
    flex-direction: row;
    font-style: normal;
}
.opdracht-2 ul li{
    flex-basis: 33%;
    flex-direction:row;
}

/*!*opdracht3**/

.opdracht-3 ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 120px;
}
.opdracht-3 .item-1{
    align-self: flex-start;
}
.opdracht-3 .item-2{
    align-self: center;
}
.opdracht-3 .item-3{
    align-self: flex-end;
}
/*!*opdracht 4**/

.opdracht-4 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 10px;

}

/*!*opdracht 5**/

.opdracht-5{
    display: flex;
    flex-wrap: wrap;
}
.opdracht-5 .opdracht-5-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-grow: 1;

}

.opdracht-5 .opdracht-5-column .ul-1{
    /*border: solid red;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.opdracht-5 .opdracht-5-column .ul-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.opdracht-5-column .ul-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}